<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Permissão</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios;">
        <td>{{usuario.nome}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.permissao}}</td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-primary btn-small" (click)="editarUsuario(usuario)">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger btn-small" (click)="excluirUsuario(usuario.id)">
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </td>
      </tr>
      <button type="button" class="btn btn-primary btn-small" (click)="adicionarUsuario()">
        <i class="fas fa-plus-square"></i>
        <span> Adicionar novo usuário</span>
      </button>
    </tbody>
  </table>
</div>
