<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <router-outlet *ngIf="!mostrarMenu"></router-outlet>
  <div class="card" *ngIf="mostrarMenu">
    <div class="card-header">
      <div class="row">
        <div class="form-group p-1">
          <button type="button" routerLink="/tarefas" routerLinkActive="btn-secondary" class="btn btn-default">Tarefas</button>
        </div>
        <div class="form-group p-1">
          <button type="button" routerLink="/novos-usuarios" routerLinkActive="btn-secondary" class="btn btn-default">Usuários</button>
        </div>
      </div>

    </div>
    <router-outlet></router-outlet>
  </div>

</div>
