<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Concluída</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas;" [ngClass]="{'tarefa-concluida': tarefa.concluida}">
        <td>{{tarefa.titulo}}</td>
        <td><input type="checkbox"  (change)="marcarConcluida(tarefa);" [(ngModel)]="tarefa.concluida"></td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-primary btn-small" (click)="editarTarefa(tarefa)">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger btn-small" (click)="excluirTarefa(tarefa.id)">
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </td>
      </tr>
      <button type="button" class="btn btn-primary btn-small" (click)="adicionarTarefa()">
        <i class="fas fa-plus-square"></i>
        <span> Adicionar nova tarefa</span>
      </button>
    </tbody>
  </table>
</div>
